.container {
    position: relative;
    width: 100px;
    height: 80px;
   
    
  }
  
  .image-container {
    position: absolute;
    bottom:-1230px;
 
    padding: 6px 6px;

    
   
  }


  .image-container2 {
    position: absolute;
    bottom:-920px;
 

    
   
  }



  .image-container3 {
    position: absolute;
    bottom:-740px;
 

    
   
  }
  
  img {
    width: 200px; /* ajusta el tamaño de acuerdo a tu imagen */
  }
  
  .buttons {
    position: absolute;
   
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
  }


  .fondo {
  
    /* Estilos CSS */
  
    background-image: url("../public/img/background.svg"); /* Ruta relativa a la carpeta public */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative; /* Añadir posición relativa */
    overflow-y: scroll; /* Cambio de overflowY a overflow-y */
   
  }
  
  
  