.container {
    position: relative;
    width: 100px;
    height: 80px;
   
    
  }
  
  .image-container {
    position: absolute;
    bottom:-860px;
    background-color: aqua;
    padding: 6px 6px;

    
   
  }
  
  img {
    width: 200px; /* ajusta el tamaño de acuerdo a tu imagen */
  }
  
  .buttons {
    position: absolute;
   
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
  }
  
  